# Ignore all files in the root directory
/*

# Track specific files and directories
!.gitignore
!readme.md
!gulpfile.js
!package.json

# Allow the themes directory and its contents
!themes/
!themes/**/*