# Ignore all files in the root directory
/*

# Track specific files and directories
!.gitignore
!readme.md
!gulpfile.js
!package.json

# Allow the wp-content directory and its contents
!wp-content/
!wp-content/themes/
!wp-content/themes/Starter-Template/
!wp-content/themes/Starter-Template/**/*

# Ignore all files in the dist directory
wp-content/themes/Starter-Template/dist/*

# Ignore the uploads folder
wp-content/uploads/

# Ignore the plugins folder
wp-content/plugins/

# Ignore the upgrade folder
wp-content/upgrade/

# Ignore the cache folder
wp-content/cache/

# Ignore the mu-plugins folder
wp-content/mu-plugins/

# Ignore every theme besides the Starter-Template theme
wp-content/themes/*
!wp-content/themes/Starter-Template/

# Ignore .DS_Store files
.DS_Store