footer {
    height: 160px;
    background-color: variables.$color-black-light;

    .container {
        @include mixins.container;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .site-logo {
            width: 256px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .footer-links {
            display: flex;

            .footer-built-by {
                text-decoration: none;
                color: variables.$color-white;

                &:hover {
                    color: variables.$color-white-dark;
                }

                &:not(:last-child) {
                    padding-right: 3rem;
                }

                a,
                span {
                    text-decoration: none;
                    color: variables.$color-white;

                    &:hover {
                        color: variables.$color-white-dark;
                    }

                    &:not(:last-child) {
                        padding-right: 3rem;
                    }
                }
            }

            #menu-footer-menu {
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-bottom: 0;

                .menu-item {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    & {
                        padding-right: 3rem;
                    }

                    a {
                        text-decoration: none;
                        color: variables.$color-white;

                        &:hover {
                            color: variables.$color-white-dark;
                        }
                    }
                }
            }
        }
    }
}