html :where(.editor-styles-wrapper) {
    background-color: variables.$color-white;
    color: initial;
    font-family: serif;
    font-size: medium;
    line-height: normal;
}

.components-button.is-primary {
    background: variables.$color-primary;
    border-color: variables.$color-primary;
    color: variables.$color-white;
}

.components-button.is-primary:hover:not(:disabled) {
    background: variables.$color-primary-dark;
    color: variables.$color-white;
}

.components-button:hover:not(:disabled, [aria-disabled=true]),
.components-button[aria-expanded=true] {
    color: variables.$color-primary-dark;
}

.components-button.is-link {
    color: variables.$color-primary;
}

.components-button.is-tertiary {
    color: variables.$color-primary;
}

.components-button:hover:not(:disabled, [aria-disabled=true]),
.components-button[aria-expanded=true] {
    color: variables.$color-primary-dark;
}


html body :where(.wp-block) {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

html body .acf-block-body .acf-fields>.acf-field.acf-accordion .acf-accordion-title,
.acf-block-fields:has(> .acf-error-message) .acf-fields>.acf-field.acf-accordion .acf-accordion-title {
    padding: 1.5rem 1.25rem;
}

html body .block-editor-block-list__layout {
    margin-top: 1rem;
}

html body .theme-overlay .screenshot:after {
    padding-top: 60%;
}