@use '../global/variables';

.margin-top-large {
    margin-top: 4rem;
}

.margin-bottom-large {
    margin-bottom: 4rem;
}

.background-color-primary {
    background-color: variables.$color-primary;
}

.background-color-secondary {
    background-color: variables.$color-secondary;
}

.background-color-white {
    background-color: variables.$color-white;
}

// .background-color-grey {
//     background-color: variables.$color-grey;
// }